extends layout

block content
  div(class="jumbotron")
    div(class="container")
        h3(class="page-header") Редактрирование системы связи

        if info 
          div(class="alert alert-danger", role="alert")
            p= info

        form(class="form-inline",  action="/cs", method="post")
          div(class="form-group")
            label(for="inputTitle") Название&nbsp
            input(type="text", id="inputTitle", name="title", placeholder="Введите название системы связи", required=true, autocomplete="off", value=cs.title)
            br
            label(for="inputFqStart") Начальная Частота&nbsp
            input(type="text", name="fqStart", id="inputFqStart", placeholder="Введите начальную частоту", required=true, autocomplete="off", value=cs.fqStart)
            br
            label(for="inputFqEnd") Конечная частота&nbsp
            input(type="text", name="fqEnd", id="inputFqStart", placeholder="Введите конечную частоту", required=true, autocomplete="off", value=cs.fqEnd)
            br
            label(for="selectConditions") Выберите условия&nbsp
            select(id="selectConditions", multiple, size=1)
              each condition in conditions
                option(value=condition.id)= condition.title
            br
            button(class="btn btn-success", type="submit") Сохранить

block link
  -var nav_active='Системы связи';