extends layout

block content
  div(class="jumbotron")
    div(class="container")
      form(class="",  action="/", method="post")
        div(class="form-group")
          label(for="selectCs") Выбырите систему связи&nbsp
          select(id="selectCs", name="cs")
            each cs in allCs
              option(value=cs.id)= cs.title
          br
          label(for="selectType") Спокойный/Возжденный&nbsp
          select(id="selectType", name="cs")
            each cs in allCs
              option(value=cs.id)= cs.title
          br
          label(for="selectType") Выбор Кр&nbsp
          select(id="selectType", name="cs")
            each cs in allCs
              option(value=cs.id)= cs.title
          br
          label(for="selectType") Количество вспышек&nbsp
          select(id="selectType", name="cs")
            each cs in allCs
              option(value=cs.id)= cs.title
          br
          label(for="selectType") Сила вспышек&nbsp
          select(id="selectType", name="cs")
            each cs in allCs
              option(value=cs.id)= cs.title
          br
          label(for="selectType") Выбор города&nbsp
          select(id="selectCity", name="city")
            each city in allCity
              option(value=city.id)= city.title

        button(class="btn btn-success", type="submit") Поехали

      


block link
  -var nav_active='Главная';